---
import Section from "../Section.astro";
import * as m from "../../paraglide/messages.js";
---

<Section title={m.about}>
  <p class="font-mono opacity-75 print:font-sans">
    {m.presentation_sentence_1()}<br /><br />
    {m.presentation_sentence_2()}
  </p>
</Section>
