---
import Section from "../Section.astro";
import ProjectCard from "../ProjectCard.astro";
import * as m from "../../paraglide/messages.js";

const projects = [
  {
    name: "Sad-Pulm",
    isActive: true,
    description: m.sadpulm_description(),
    highlights: [
      m.sadpulm_highlight_1(),
      m.sadpulm_highlight_2(),
      m.sadpulm_highlight_3(),
      m.sadpulm_highlight_4(),
    ],
    url: "https://sad-pulm.he-arc.ch/",
    git: "https://gitlab.com/heg-arc/sad-pulm/sad-pulm",
  },
  {
    name: "Arclean",
    isActive: true,
    description: m.arclean_description(),
    highlights: [
      m.arclean_highlight_1(),
      m.arclean_highlight_2(),
      m.arclean_highlight_3(),
      m.arclean_highlight_4(),
      m.arclean_highlight_5(),
    ],
    url: "https://arclean.he-arc.ch",
    git: "https://gitlab.com/heg-arc/arclean/arclean",
  },
  {
    name: "Eboxing",
    isActive: true,
    description: m.eboxing_description(),
    highlights: [
      m.eboxing_highlight_1(),
      m.eboxing_highlight_2(),
      m.eboxing_highlight_3(),
      m.eboxing_highlight_4(),
      m.eboxing_highlight_5(),
    ],
    url: "https://online.light-contact.ch",
    git: "https://gitlab.com/heg-arc/lcba/eboxing",
  },
  {
    name: "Fundsai",
    isActive: true,
    description: m.fundsai_description(),
    highlights: [
      m.fundsai_highlight_1(),
      m.fundsai_highlight_2(),
      m.fundsai_highlight_3(),
      m.fundsai_highlight_4(),
    ],
    url: "https://fundsai.accipiterfinance.com",
    git: "https://gitlab.com/heg-arc/accipiter/fundsai",
  },
  {
    name: "SwissRenov",
    isActive: true,
    description: m.swissrenov_description(),
    highlights: [
      m.swissrenov_highlight_1(),
      m.swissrenov_highlight_2(),
      m.swissrenov_highlight_3(),
      m.swissrenov_highlight_4(),
    ],
    url: "https://swissrenov.ig.he-arc.ch",
    git: "https://github.com/julienreichenb/swissrenov",
  },
];
---

<Section
  className={Astro.props.className}
  title=`${m.professional_projects()} (${m.main_contributor()})`
>
  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 print:flex print:flex-col">
    {
      projects.map((project) => {
        return <ProjectCard project={project} />;
      })
    }
  </div>
</Section>

<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
