<div
  class="slide-enter flex w-full justify-center pb-12 text-center md:col-span-6 print:hidden"
>
  <div class="flex items-center space-x-0 text-xs opacity-50">
    <span class="gap-1 text-center no-underline">
      <p class="mt-3 text-center font-mono">
        Resume created with <a
          class="font-black"
          href="https://github.com/MiraHikari/portfolio"
          target="_blank"
        >
          <span class="underline">a template made by MiraHikari</span>
        </a>
      </p>
    </span>
  </div>
</div>
